/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 17, 2016, 7:46:09 PM
    Author     : matheus
*/

.conteudo {
    padding: 10px;
    min-height: 500px;
    padding-bottom: 20px;
}

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: black; 
    color: gray;
    padding-bottom: 10px;
}

img#logo {
    max-width: 100px;
    max-height: 100px;
}

form {
    max-width: 400px;
}

.list-buttons {
    display: inline;
}

#painel {
    max-width: 500px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
    color: blue;
}

a:active {
    color: black;
}

#mensagemErro {
  padding: 5px;
  font-size: 15px;
}